.navigationBarWrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color:#2a9d8f;
}

button {
    background-color: #264653; /* Green */
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: 90px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
  }

.logotype {
    width: 150px;
}

.signIn {
    margin-top: 30px;
    grid-column: 9/10;
    align-self: center;
}
.register {
    margin-top: 30px;
    align-self: center;
}

.logotype,
.signIn {
    cursor: pointer;
}

.profile {
    grid-column: 8/10;
}